@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Fredoka:wght@300..700&display=swap');

:root {
    height: 100%;
    width: 100%;
    font-family: "Fredoka", sans-serif;

    --ocean: #133E87;
    --kelp: #04837B;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.no-link {
    text-decoration: none;
    color: inherit;
}

.no-select {
    user-select: none;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#nav {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    box-sizing: border-box;
}

#nav-title {
    color: var(--kelp);
    font-size: 2em;
    font-family: "Cherry Bomb One";
}

.nav-btn {
    padding: 0.5em 1em;
    background-color: #eee;
    border: none;
    border-radius: 5em;
    font-size: 1em;
    font-family: "Fredoka", sans-serif;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #ddd;
}

#page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#home {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#home #header {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 4em 0em;
}

#home #body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#home h1 {
    font-family: "Cherry Bomb One";
    font-size: 5em;
    color: var(--kelp);
    margin: 1rem;
}

#home #content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--ocean);
    margin-top: -10px;
}

.text-input {
    padding: 0.5em 1em;
    background-color: #eee;
    border: none;
    border-radius: 5em;
    font-size: 1.2em;
    font-family: "Fredoka", sans-serif;
}

.text-input:focus {
    outline: none;
    background-color: #ddd;
}

.imageUploader {
    background-color: #eee;
    height: 16em;
    width: 16em;
    border-radius: 1em !important;
    padding: 0.5em!important;
    cursor: pointer;
}

.imageUploader:active {
    background-color: #ddd;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

#form input[type="text"] {
    padding: 0.5em 1em;
    background-color: #eee;
    border: none;
    border-radius: 5em;
    font-size: 1.2em;
    font-family: "Fredoka", sans-serif;
    width: 100%;
    box-sizing: border-box;
}

#form input[type="text"]:focus {
    outline: none;
    background-color: #ddd;
}

#form input[type="submit"] {
    padding: 0.5em 1em;
    background-color: #eee;
    border: none;
    border-radius: 5em;
    font-size: 1.2em;
    font-family: "Fredoka", sans-serif;
    cursor: pointer;
}

#form input[type="submit"]:hover {
    background-color: #ddd;
}

#form textarea {
    padding: 0.5em 1em;
    background-color: #eee;
    border: none;
    border-radius: 1em 1em 0em 1em;
    font-size: 1.2em;
    font-family: "Fredoka", sans-serif;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    min-height: 2.4em;
}

#form textarea:focus {
    outline: none;
    background-color: #ddd;
}


#post-form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    background-color: #bbb;
    border-radius: 1em;
    box-sizing: border-box;
}

.scrollContainer {
    margin-top: 0;
    overflow-x: hidden;
    border-top: 1px solid lightgray;
    height: inherit;
    scrollbar-width: 0;
}

.postsContainer {
    margin: auto;
    margin-left: 8px;
    max-width: 1600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 40em);
}

.post {
    max-width: 40em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    box-sizing: border-box;
    color: #fff;
}

.post .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
}

.post .header .btn {
    background-color: #777;
    padding: 0.5em 1em;
    border-radius: 1em;
    box-sizing: border-box;
    cursor: pointer;
}

.post .header .btn:hover {
    background-color: #666;
}

.post .category {
    background-color: var(--kelp);
    padding: 0.5em 1em;
    border-radius: 1em;
    box-sizing: border-box;
    width: fit-content;
}

.post img {
    width: 100%;
    height: 20em;
    object-fit: cover;
    border-radius: 1em 1em 0em 0em;
    box-sizing: border-box;
    cursor: pointer;
}

.post .content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: #fff;
    color: #000;
    padding: 1em;
    border-radius: 0em 0em 1em 1em;
    cursor: pointer;
}

.post .date {
    color : #999;
    font-size: 0.8em;
}

.post .title {
    font-size: 1.5em;
    font-weight: bold;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    max-height: 1.2em;
    overflow: hidden;
}

.post .text {
    display: -webkit-box;
    font-size: 1em;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post .body {
    display: flex;
    flex-direction: column;
    gap:0;
}