@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Fredoka:wght@300..700&display=swap');

:root {
    height: 100%;
    width: 100%;
    font-family: "Fredoka", sans-serif;

    --ocean: #133E87;
    --kelp: #04837B;
    --cancel: #FF3B3F;
    --cancel-hover: #DD3336;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.no-link {
    text-decoration: none;
    color: inherit;
}

.no-select {
    user-select: none;
}

.flex-col {
    display: flex !important;
    flex-direction: column !important;
}

.flex-row {
    display: flex !important;
    flex-direction: row !important;
    gap: 0.5em;
}

.align-center {
    display: flex !important;
    align-items: center !important;
}

.h-100 {
    height: 100% !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.mg-0em {
    margin: 0em !important;
}

.text-md {
    font-size: 1.1em !important;
}

.text-lg {
    font-size: 1.5em !important;
}

.text-xl {
    font-size: 2em !important;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#nav {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    box-sizing: border-box;
    background-color: #fff;
}

#nav-title {
    color: var(--kelp);
    font-size: 2em;
    font-family: "Cherry Bomb One";
}

.nav-btn {
    padding: 0.5em 1em;
    background-color: #eee;
    border: none;
    border-radius: 5em;
    font-size: 1em;
    font-family: "Fredoka", sans-serif;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #ddd;
}

#page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#home {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#home #wave {
    min-width: 800px;
}

#home #header {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 4em 0em;
}

#home #body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#home h1 {
    font-family: "Cherry Bomb One";
    font-size: 5em;
    color: var(--kelp);
    margin: 1rem;
}

#home #content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--ocean);
    margin-top: -10px;
}

.text-input {
    padding: 0.5em 1em;
    background-color: #eee;
    border: none;
    border-radius: 5em;
    font-size: 1.2em;
    font-family: "Fredoka", sans-serif;
}

.text-input:focus {
    outline: none;
    background-color: #ddd;
}

.imageUploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    height: 16em;
    width: 100%;
    border-radius: 1em !important;
    padding: 0.5em!important;
    cursor: pointer;
    box-sizing: border-box;
}

.imageUploader img {
    max-width: fit-content;
    height: fit-content;
    max-height: 100%;
    object-fit:contain;
    border-radius: 1em;
}

.imageUploader:active {
    background-color: #ddd;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

#form input[type="text"] {
    padding: 0.5em 1em;
    background-color: #eee;
    border: none;
    border-radius: 5em;
    font-size: 1.2em;
    font-family: "Fredoka", sans-serif;
    width: 100%;
    box-sizing: border-box;
}

#form input[type="text"]:focus {
    outline: none;
    background-color: #ddd;
}

#form input[type="submit"] {
    padding: 0.5em 1em;
    background-color: #eee;
    border: none;
    border-radius: 5em;
    font-size: 1.2em;
    font-family: "Fredoka", sans-serif;
    cursor: pointer;
}

#form input[type="submit"]:hover {
    background-color: #ddd;
}

#form textarea {
    padding: 0.5em 1em;
    background-color: #eee;
    border: none;
    border-radius: 1em 1em 0em 1em;
    font-size: 1.2em;
    font-family: "Fredoka", sans-serif;
    width: 100%;
    height: 9.6em;
    box-sizing: border-box;
    resize: vertical;
    min-height: 2.3em;
}

#form textarea:focus {
    outline: none;
    background-color: #ddd;
}

#post-form {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    background-color: #bbb;
    border-radius: 1em;
    box-sizing: border-box;
}

.scrollContainer {
    margin-top: 0;
    overflow-x: hidden;
    border-top: 1px solid lightgray;
    height: inherit;
    scrollbar-width: 0;
    width: 100%;
    max-width: 1200px;
    flex-grow: 1;
}

.postsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    width: 100%;
    height: 100%;
}

.post {
    max-width: calc(50% - 1em);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    box-sizing: border-box;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .post {
        max-width: 100% !important;
    }
}

.post .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
}

.post .header .btn_cntr {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

.post .header .btn {
    display: none;
    background-color: #777;
    padding: 0.5em;
    border-radius: 5em;
    box-sizing: border-box;
    cursor: pointer;
    height: 2em;
    width: 2em;
    align-items: center;
    justify-content: center;
}

.post .header .btn.remove {
    background-color: var(--cancel);
}

.post .header .btn.remove:hover {
    background-color: var(--cancel-hover);
}


.post .header .btn  *{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    width: 1em;
    height: 1em;
}

.post:hover .header .btn {
    display: flex;
}

.post .header .btn:hover {
    background-color: #666;
}

.post .category {
    background-color: var(--kelp);
    padding: 0.5em 1em;
    border-radius: 5em;
    box-sizing: border-box;
    width: fit-content;
}

.post img {
    width: 100%;
    height: 20em;
    object-fit: cover;
    border-radius: 1em 1em 0em 0em;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #666;
    text-align: center;
}

.post .content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: #fff;
    color: #000;
    padding: 1em;
    border-radius: 0em 0em 1em 1em;
    cursor: pointer;
}

.post .date {
    color : #999;
    font-size: 0.8em;
}

.post .title {
    font-size: 1.5em;
    font-weight: bold;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    max-height: 1.2em;
    overflow: hidden;
}

.post .text {
    display: -webkit-box;
    font-size: 1em;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post .body {
    display: flex;
    flex-direction: column;
    gap:0;
}
.align-text {
    text-align: center;
}

#searchButton {
    background-color: #eee;
    padding: 0.5em;
    font-size: 1.2em;
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 5em;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 0;
}

#searchButton:hover {
    background-color: #ddd;
}

.post-read {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.post-read .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    max-width: 1200px;
    padding: 1em;
}

.post-read #post-image {
    width: 100%;
    height: 30em;
    object-fit: cover;
    border-radius: 1em;
    background-color: #666;
}

@media screen and (max-width: 800px) {
    .post-read #post-image {
        height: 20em;
    }
}

.post-read #post-date {
    color: #999;
    font-size: 1em;
}

.post-read #title_cntr {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2em;
}

.post-read #post-title {
    font-size: 2em;
    font-weight: 500;
}

.post-read #post-category {
    background-color: var(--kelp);
    padding: 0.5em 1em;
    border-radius: 5em;
    box-sizing: border-box;
    width: fit-content;
    color: #fff;
    display: flex;
    align-items: center;
}

.post-read #post-text {
    font-size: 1.2em;
    color: #333;
}